/**
 * @author Daniela
 * Stylesheed for the Invite User View
 * @visibleName InviteUser
 */
#inviteUserView{

}
#inviteUserSelectRole{
    width: 100%;
    height: 40px;
}
#container1 h2{
    margin-bottom: 5%;
    width: 40%;
    margin-right: auto;
    margin-left: auto;

}
#container1 {
    margin-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 2%;
    background-color: #f19a29;
    display: grid;
    flex-direction: column;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    align-items: center;
    border-style: solid;
    border-color: black;
    height: 70%;
}

#container1 Label {
    font-size: 16pt;
}

#subcontainer1 {
    width: 100%;
    display: grid;
    grid-template-areas: "area1 area2" "area3 area4";
    grid-template-columns: 40% 60%;
}

#inviteUserViewBottom{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
#roleLabel {
    grid-area: area1;

}

#role {
    grid-area: area2;
    margin-bottom: 10%;
    width: 100%;
}


#eMailLabel, #roleLabel{
    text-align: center;
    position: relative;
}



#eMailLabel{
    grid-area: area3;

}

#eMail {
    grid-area: area4;
    width: 100%;
    height: 40px;
}

Dropdown {
    background-color: #fff3a6;
    width: 100% !important;
    align-self: end;
    height: 40px !important;
    border-radius: 20px;
}

#inviteUserView input {
    margin-right: 20%;
    width: 100%;
    height: 40px;
}

