
#container1 *{
    background-color: whitesmoke;
}

#container1 {
    margin-top: 10%;
    background-color: #f19a29;
    display: flex;
    flex-direction: column;
    width:calc(100vh - 250px);
    margin-left: 30%;
    margin-right: 30%;
    padding: 5%;
    align-items: center;
    border-style: solid;
    border-color: black;

}

#container1 Label {
    font-size: 16pt;
}

#subcontainer1 {
    width: 100%;
    display: grid;

    grid-template-areas: "area1 area2" "area3 area4";
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50% ;
}

#roleLabel {
    grid-area: area1;

}

#role {
    grid-area: area2;
    margin-bottom: 10%;
    width: 100%;
}


#eMailLabel, #roleLabel{
    text-align: center;
    position: relative;
}

#eMailLabel label {
    position: absolute;
    bottom: 0px;
}

#eMailLabel{
    grid-area: 3;

}

#eMail {
    grid-area: area4;
    width: 100%;
    height: 40px;
}

Dropdown {
    background-color: #fff3a6;
    width: 100% !important;
    align-self: end;
    height: 40px !important;
    border-radius: 20px;
}

input {
    margin-right: 20%;
    width: 100%;
    height: 30px;
}