.textInput {
    width: 250px;
    height: 40px;
    border-color: lightgrey;
    text-align: center;
    font-size: medium;
    min-height: 10px;
    min-width: 30px;
    margin-bottom: 10px;
}

.textInput:focus, textarea:focus {
    background-color: #fff3a6;
}

.standardLabel {
    font-size: 20px;
    font-family: "-apple-system";
}

.confirmButton {
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    border:none;
    color: black;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


