
.detail_main {
    display: flex;;
    flex-direction: row;
    margin: 15px;
    align-content: center;
    height: calc(100vh - 100px);
    justify-content: space-around;
    background-color: white;
    padding-bottom: 50px;
    color: black;
}
.detail_daten {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 118px);
    width: calc(100vh - 80px);
}

.detail_row{
    display: flex;
    height: 20px;
    width: 200px;
}

.diagramm {
    border: 2px solid black;
    height: calc(100vh - 118px);
    width: calc(100vh - 90px);

}
.detail_grig{
    display: grid;
    /* Zwei Spalten mit folgenden Breiten definieren:
    Erste Spalte: 100px, Zweite Spalte: Automatische Breite */
    grid-template-columns: 100px auto;
    /* Drei Zeilen mit folgenden Höhen definieren:
    Erste Zeile: Automatische Höhe, Zweite Zeile: 50%,
    Dritte Zeile: 30px */
    grid-template-rows: auto 50% 30px;
    background-color: darkorange;
    padding: 10px;
    margin: 5px;
    height: 200px;
}
.detail_grig> div {
    border: 2px solid;
    background-color: orange;
}

.detail_main > tr {
    border-right: #7ae7bf;
}

.detail_main > tr > td {

}

.detail_main > tr > th {

}
.th {
    /* width: 40%;
     max-width: fit-content;
     min-width: 200px;
    padding: calc(100vh - 623px);*/
}
.tr {
    /* height: calc(100vh - 750px);*/
    /* max-height: fit-content;*/
    /* min-height:calc(100vh - 50px);*/
    padding: 10px;
}
.td{
    min-width: 150px;

    max-width: calc(100vh - 600px);
    width: calc(100vh - 500px);
}
.td2 {
    /* max-width: calc(100vh - 500px) ;*/
}

.navD  {
    background-color: white;
    color: #282c34;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
