
.diagramm_leistung {
    background-color: whitesmoke;
}

.leistung_main{
   /* margin-left: 2%;*/
   /* border: 2px solid black;*/
    /*background-color: #f19a29;*/
   /* margin-bottom: 10%;
    margin-top: 10px;*/
   /* margin-right: 20px;*/
  /*  color: whitesmoke;*/
    display: flex;
    background-color: whitesmoke;
   /* height:  calc(100vh - 155px) ;*/
    flex-direction: column;
    margin: 10px;
}

/*#tabs_testbaterie {
    padding: 0;
}*/
.leistung_diag_container {
    display: grid;
    grid-template-columns: calc(100vh - 240px) calc(100vh + 290px);
    grid-template-rows: calc(100vh - 400px) auto;
    justify-content: center;
}
@media only screen and (max-width: 1300px)  {
    .leistung_diag_container {
        grid-template-columns: calc(100vh - 240px)  calc(100vh + 290px);
        grid-template-rows: calc(100vh - 400px) auto;
    }
}
.leistung_diag_container > .myContainer {
    border: 2px solid black;
    background-color: #f19a29;
    margin: 1px;
}

.kommentar_leistung {
    border: 2px solid black;
    background-color: #f19a29;
    /*margin: 1px;*/
   width: auto;
    min-height: 100px;
}

.main_leistung {
    margin: 20px;
}

.thead_leistung {
    background-color: dimgray;
    text-align: center;
    font-size: 23px;
    width: calc(100vh - 246px);
    /*padding-bottom: 10px;*/

}
.tabss {
    font-size: 11px;
}
