
.diagramm_leistung {
    background-color: whitesmoke;
    border: 2px solid black;

    min-width: 60%;
    max-width: fit-content;
    margin-left: 20px;
    min-height: 490px;
    max-height: 490px;
    padding-bottom: 30px;

}

.leistung_main{
   /* margin-left: 2%;*/
   /* border: 2px solid black;*/
    /*background-color: #f19a29;*/
   /* margin-bottom: 10%;
    margin-top: 10px;*/
   /* margin-right: 20px;*/
  /*  color: whitesmoke;*/
    /* height:  calc(100vh - 155px) ;*/

    /*
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    margin: 10px;*/

    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    background-color: whitesmoke;
}

/*#tabs_testbaterie {
    padding: 0;
}*/
.leistung_diag_container {
    display: grid;
    grid-template-columns: calc(100vh - 370px)auto;
    grid-template-rows: calc(100vh - 580px)auto;
    justify-content: center;
}
@media only screen and (max-width: 998px) {
    .leistung_diag_container {
        display: grid;
        grid-template-columns: calc(100vh - 380px) calc(100vh + 290px);
        grid-template-rows: calc(100vh - 500px) auto;
        justify-content: center;
    }
}

@media only screen and (max-width: 1300px)  {
    .leistung_diag_container {
        grid-template-columns: calc(100vh - 240px)  calc(100vh + 290px);
        grid-template-rows: calc(100vh - 400px) auto;
    }
}
.leistung_diag_container > .myContainer {
    border: 2px solid black;
    background-color: #f19a29;
    margin: 1px;
}



.main_leistung {
    margin: 20px;

}

.thead_leistung {
    background-color: dimgray;
    text-align: center;
    font-size: 23px;
    display: flex;
    justify-content: center;
    /*padding-bottom: 10px;*/

}

.leistung_main > div {
    height: auto;
    margin: 5px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.orangeContainer {
    background-color: #f19a29;
}

.container1 {
    width: 500px;
    border: 2px solid black;
    background-color: #f19a29;
    min-width: 300px;
}

.container2{
    border: 2px solid black;
    background-color: #f19a29;
    min-width: 60%;
    max-width: fit-content;
    margin-left: 20px;

}
/*
css für der DIv der die alte Test Baterie anzeigt
*/
.container_alte_testBaterie {
    width: 100%;
    border: 2px solid black;
    background-color: #f19a29;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 500px;
}
.container_alte_testBaterie > div {
    margin: 20px;
}
.alte_Test_kurve {
    display: flex;
    background-color: whitesmoke;
    width: 55%;
    height: 90%;

    border: 2px solid black;
}
.alte_test_Daten {
    display: flex;
    flex-direction: column;
    widows: 45%;
}

/*
End css Alte Test Baterie
*/

.kommentar_L {
    width: 100%;
}

.kurveCheckbox {
    display: flex;
}

.kurveCheckbox > Input {
    margin: 5px;
}

.kurveCheckbox > div {
    margin: 5px;
    margin-bottom: 10px;
}

.gesamteleistung {
    overflow: hidden;

}

