/**
 * @author Daniela
 * This is a Stylesheet for the editable table of the Trainerprofile data.
 */

/**Style for TrainerProfile View**/

#Trainerprofile{
    height: calc(100vh + 0px);
    padding-right: 0%;
    margin-right: 0;
}

#mainTP {
display: flex;
flex-direction: row;
margin-top: 5%;
}

#ButtonsTrainer{
display: flex;
flex-direction: column;
align-items: center;
margin-left: auto;
margin-right: auto;
width: 300px;
margin-bottom: 2%;
}
.Trainer-Profil-pic {
margin-left:auto;
margin-right: auto;
margin-top: 5%;
width: 150px;
height: 150px;
}

#leftTP {
margin-left: 10%;
width: 40%;
display: flex;
flex-direction: column;
background-color: #f19a29;
border: 2px solid black;
justify-content: space-between;
}

#leftTopLeftTP{
display: flex;
flex-direction: column;
margin-left: 5%;
margin-bottom: 2%;
margin-top: 2%;
width: 100%;
height: 30%;
align-items: flex-start;
}

#checkbox{
margin-left: 30%;
margin-top: 5%;
font-size: medium;
}
#checkbox > Checkbox {
width: 50px;
right: 50px;
}
#leftBottomTP {
display: flex;
flex-direction: row;
align-items: flex-start;
text-align: left;
background-color: #f19a29;
padding-bottom: 2%;
}

#rightTP {
border: 2px solid black;
background-color: #f19a29;
padding: 2.5%;
margin-left: 5%;
margin-right: 10%;
}

/** Every second row, the head and editable data is displayed in a different color. **/
#editProfiletr:nth-child(even) td {
    background-color: #ffd533;
}

#editProfiletr:nth-child(even) th {
    background-color: #f19a29;
}

#editProfiletr:nth-child(odd) td {
    background-color: #ffa436;
}

#editProfiletr:nth-child(odd) th {
    background-color: #ff792a;
}

/** The font is set to Calibri 12pt **/
#editProfileth, #editProfiletd {
    font-size: 12pt;
    font-family: Calibri;
    border-collapse: collapse;
}
#editProfiletr > #editProfilethCity{
    background-color: #f19a29;
}
#editProfiletr > #editProfiletdCity{
    background-color: #ffd533;
}
/** The font is set to Calibri 12pt **/
#rightTP > table, th, td {
    font-size: 12pt;
    font-family: Calibri;
    border: 1px solid black;
    border-collapse: collapse;
    width: 600px;
}

#rightTP > th {
    width: 40%;
    min-width: 100px;
    max-width: 200px;
}

#rightTP > td {
    width: 40%;
    min-width: 100px;
}

#rightTP > td > select {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: Calibri;
    font-size: 12pt;
}

#rightTP > td > input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: Calibri;
    font-size: 12pt;
}

#rightTP > td > input[type=date] {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    font-family: Calibri;
    font-size: 12pt;
}

#rightTP > td > input:focus {
    background-color: transparent;
    font-family: Calibri;
    font-size: 12pt;

}

/** This code is necessary to hide the up and down elements of the date input and change its highlighted color.
The Error can be ignored, the Code works properly execpt Safari**/
#rightTP > input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

#rightTP > input::-webkit-datetime-edit-day-field:focus,
#rightTP > input::-webkit-datetime-edit-month-field:focus,
#rightTP > input::-webkit-datetime-edit-year-field:focus {
    background-color: #ffd533;
    color: white;
    outline: none;
}
/** End Style for TrainerProfile View**/
/** Style for Edit Password View**/
#EditPasswordModalView{
    background-color: #f19a29;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#EditPasswordModalView h2{
    margin-bottom: 2%;
}
#changePasswordForm{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: end;
}
#changePasswordButtons{
    margin-bottom: 2%;
    margin-top: 2%;
}
#changePasswordForm input{
    height: 50px;
}

#changePasswordForm label{
    font-size: 15pt;
}
/** End Style for Edit Password View**/