.physisdaten_box {
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 10px;
}
.tbody_leistung {
    color: black;
    font-size: 16px;
    padding-top: 10px;
}
/*.thead_leistung {
    height: 30px;
    width: 300px;
    font-size: 16px;
}*/
.tbody_leistung > tr {
    height: 10px;
    width: 100%;
}
.tbody_leistung > tr > th {
   /* width: 120px;*/
   /* width: 30%;*/
    justify-content: space-between;
}
.tbody_leistung > tr > td {
    /*width: 60%;*/
   /* width: 250px;*/
}