.LoginView {

}

img {
    margin-top: 20px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 10px;
}

.loginForm label {
    font-size: small;
}

.i3 {
    border: none;
    background-color: #f19a29;

}

.i3:focus {
    outline: none;
}

.i3:hover {
    color: snow;
}

.i4 {
    margin-top: 2.5%;

}