.main_newLeistung {
    color: black;
    background-color: #f19a29;
    height:calc(100vh - 270px) ;
    width: calc(100vh + 60px) ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: flex;
    margin: 10px;
}

.newTestbaterie_button {
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 10px;
}

.box_newtestbaterie {
    display: grid;
    background-color: #f19a29;
    grid-template-columns: 150px auto;
    grid-template-rows: 70px 70px 70px 70px 70px;
    justify-content: center;
    align-content: center;
    height:calc(100vh - 270px);
    min-width: 35%;
}
.box_newtestbaterie > Input {
   min-width: 100px;
    margin-top: 10px;
 margin-left: 5px;
    height: 30px;
}
.box_newtestbaterie > Label {
    padding-bottom: 5px;
    text-align: end;

}

.boxRR_newtestbaterie {
    display: flex;
    border: 2px solid gray();
    justify-content: center;
    width: calc(100vh + 250px);
    height:calc(100vh + 20px) ;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
    padding-bottom: 10px;
}

.boxRR_newtestbaterie > div > Label {
    padding-right: 20px;
}

.boxRR_newtestbaterie > Label {
    font-size: 20px;
    font-weight: bold;
}

.kommentar_newleistung {
    min-width: 680px;
    width: auto;
    min-height: 80px;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
}