#cal {
    height: calc(100vh - 100px);
    width: calc(100vh + 400px);
}

@media screen and (max-width: 768px) {
    #cal {
        height: calc(100vh - 100px);
        width: calc(100vh - 130px);
    }

}

PopUp{
    width: 500%;
}