/**
* @author Dany
*  Die Klasse definiert den Style für die ResetLogin Seite
* @visibleName ResetLogingData.css
*/


/** Merkmalde des Headers*/
.header{
    border: 1px white;
    background-color: #f19a29;
    padding: 1em;
    text-align: center;

}
/** Box mit Text Eingabefeld udn Button*/
.box{
    flex-direction: column;
    justify-content: center;
    width: 410px;
    align-items: center;
    background-color: #f19a29;
}

/* Mittlere Bereich*/
#container{
    background-color: #f19a29;
    /*padding-top: 0px;*/

    text-align: center;
    justify-content: center;
    display: flex;
    padding-bottom: 13%;

}
/** Logo oben im Box*/
.logo{
    height: 40vmin;
    width: 40vmin;
    justify-content: center;

}

/** Merkmale für den Checkbox zum akzeptieren der Nutzungbedingungen*/
.input_chekbox{
    height: 15px;
    width: 15px;
    background-color: blue;
    margin-right: 4px;
}

/** imput im Box*/
.input {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    margin-bottom: 20px;
}

/** Berreich fuur den Footer*/
.myFooter {
    height: 6%;
    padding-bottom: 5px;
}

#container { display: flex; }
main { flex: 3 60%; }