#root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.header{
    border: 1px white;
    background-color: #f19a29;
    padding: 1em;
    text-align: center;

}
/* Box mit Text Eingabefeld udn Button*/
.box{
    flex-direction: column;
    justify-content: center;
    width: 400px;
    align-items: center;
    background-color: #f19a29;
}

/* Mittlere Bereich*/
main{
    background-color: #f19a29;
    /*padding-top: 0px;*/
    padding-bottom: 103px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 55%;
}

/* Untere Bereich*/
footer {
    flex-direction: row;
    background-color: #f19a29;
    padding: 2em;
    text-align: center;
    text-decoration: none;
}

.logo{
    height: 40vmin;
    width: 40vmin;
    justify-content: center;
    align-items: center;
}
/* Row Flexbox für die Buttons
.button{
    flex-direction: row;
    width: 400px;
    height: 30px;
    display: flex;
    padding: 10px;
    justify-content:center;
    background-color: #f19a29;
}*/


/*
.button{
    background-color: white;
    border-radius: 20px;
    border:none;
    color: black;
    text-align: center;
    font-size: medium;
    padding: 20px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    justify-content: space-between;
}
*/

/*.email-input::placeholder {
    font-family: Arial;
    padding: 10px;
    height: 20px;
    width: 300px;
}*/

.input {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    margin-bottom: 20px;
}


#container { display: flex; }
main { flex: 3 60%; }