.App {
    text-align: center;
    background-color: whitesmoke;
    min-width:700px; /* Suppose you want minimum width of 1000px */
    width: auto !important; /* Firefox will set width as auto */
    width: 700px;

}

.App-logo {
    height: 40vmin;
    width: 40vmin;
    justify-content: center;
    align-items: center;
}




