/*.testbaterie_box {

    flex-direction: column;
}*/

.spinediagramm_leisrung {
    background-color: whitesmoke;
    height: calc(100vh - 230px);
}

.popupInfo {
    background-color: whitesmoke;

    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align: left;
}
.popupInfo >h2{
    justify-content: start;
    color: rebeccapurple;
    font-size: 24px;
    padding-left: 40px;
    padding-top: 10px;
}
.popupInfo > text {
    align-items: flex-start;
    font-size: 20px;

}
.testName{
   display: flex;
   width: 200px;
   justify-content: space-around;
    height: 30px;
}
.testName > h3 {
    margin-left: 30px;

}

.textBold{
    font-weight: bold;
}

.table_css {

}
#table_css:nth-child(even) td {
    background-color: #ffd533;
}

#table_css:nth-child(even) th {
    background-color: #f19a29;
}

#table_css:nth-child(odd) td {
    background-color: #ffa436;
}

#table_css:nth-child(odd) th {
    background-color: #ff792a;
}

.myhover {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 20px;

}

.myhover .hovertext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.myhover:hover  .hovertext {
    visibility: visible;
}
