body {
    background-color: white;
    padding: 50px 0;
}

.editProfile {
    background-color: white;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.editProfile * {
    box-sizing: border-box;
}

.flex-outer {
    list-style-type: none;
    padding: 0;
}

.flex-outer {
    max-width: 800px;
    margin: 0 auto;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li:not(:last-child) {
    margin-bottom: 10px;
}

.flex-outer > li > label,
.flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
}

.flex-outer > li > label {
    flex: 1 0 220px;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
    padding: 15px;

}

.flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
}

.checkActive{
    margin-right: auto;
    padding: 8px 16px;;
}

header Label{
    text-decoration: underline black;
    text-align: center;
}

header{
    margin-bottom: 7.5%;
}