/**
 * @author Daniela
 * This is a Stylesheet for the editable table of the profile data.
 */
.editProfile {
    background-color: whitesmoke;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    margin-bottom: 2%;
    border: 1px solid #282c34;
}
.editProfile * {
    box-sizing: border-box;
}

header Label {
    text-decoration: underline black;
    text-align: center;
}

header {
    margin-bottom: 7.5%;
}
/** Every second row, the head and editable data is displayed in a different color. **/
#editProfiletr:nth-child(even) td {
    background-color: #ffd533;
}

#editProfiletr:nth-child(even) th {
    background-color: #f19a29;
}

#editProfiletr:nth-child(odd) td {
    background-color: #ffa436;
}

#editProfiletr:nth-child(odd) th {
    background-color: #ff792a;
}

/** The font is set to Calibri 12pt **/
table, #editProfileth, #editProfiletd {
    font-size: 12pt;
    font-family: Calibri;
    border-collapse: collapse;
}
#editProfiletr > #editProfilethCity{
    background-color: #f19a29;
}
#editProfiletr > #editProfiletdCity{
    background-color: #ffd533;
}
#editProfileth {
    width: 40%;
    min-width: 100px;
}

#editProfiletd{
    width: 40%;
    min-width: 100px;
}

#editProfiletd > select {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: Calibri;
    font-size: 12pt;
}
#editProfiletd > input {
    width: 100%;
    height: 100%;
    background-color:transparent;
    border: none;
    font-family: Calibri;
    font-size: 12pt;
}
#editProfiletd > input[type=date] {
    margin: 0;
    padding: 0;
    background-color:transparent;
    border: none;
    font-family: Calibri;
    font-size: 12pt;
}

#editProfiletd > input:focus {
    background-color: transparent;
    font-family: Calibri;
    font-size: 12pt;

}

/** This code is necessary to hide the up and down elements of the date input and change its highlighted color. The Error can be ignored, the Code works properly**/
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: #ffd533;
    color: white;
    outline: none;
}

